/* Styles généraux */
*{
  margin: 0;
  padding:0;
  list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", serif;
  margin: 0 ;
  padding: 0 ;
}

header {
  background: linear-gradient(#13181d, #20212e, #341b47);
  width: 100%;
  color:white;
  

  
}

 nav {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
nav .container i {
  font-size: 80px;
}


#main {
  padding:10px 5%;
  background: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;

}
/* Style général */
.realisation-header {
  text-align: center;
  margin-bottom: 30px;
}

.portfolio {
  padding: 20px;
  margin-bottom: 40px;
  background-color: inherit;
}

.portfolio h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

/* Grille d'affichage */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgb(99, 99, 99);
}

/* Style des réalisations */
.realisation {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(159, 149, 149, 0.1);
  transition: transform 0.3s ease-in-out;
}

.realisation img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.realisation h3 {
color: white;
}
.realisation h4 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.realisation:hover {
  transform: scale(1.05);
  background-color: #1c1d1d;
  width: 100%;
}

footer button{
  border-radius: 10px;
  background-color: violet;
  transition:all 0.5s;
  border: none;
  padding: 2px;
  
  color: white;
}

footer button:hover{
  background-color:#0cb2ff;
  border-radius: 10px;
  color: white;
}

footer {
  background-color: rgb(41, 40, 42);
  color: white;
  text-align: center;
  padding: 20px 5px;
}
.social-icons a {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  filter: brightness(1.5);
}
.custom-text{
font-size: 8px;
}
section{
  background: rgb(240, 231, 231);
  padding: 20px 10% 0 20%;
  margin: 0;
}

section, .page {
  padding: 0 5% 10px 5%;
  display: inline;
  align-items: center;

}
section, .page, img{
margin: 0 50px 0 0;
}


/* Responsive */
@media screen and (max-width: 700px) {

  header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 0 0;
  margin: 0;
}
nav{
  padding: 0 5% 10px 0;

}

.services{
  width: 100%;
  padding: 60px 0 20px 10px;
  margin: 0;
}
 
.services h1 {
  font-size: 1.3rem;

}
.services h2 {
  font-size: 1.6rem;
  color: violet;

}
section, .page {
  padding: 10px 5% 10px 5%;
  margin: 0;
  display:inline;
  align-items: center;
}
.page, .left, p{
  padding: 5px 0 0 0;
font-size: 10px;
}

 .page, .lef, img {
 width: 200px;
 display: inline;

}
.realisation img {
  width: 30%;
  height: auto;
  border-radius: 10px;
}
}