/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  line-height: 1.6;
}

/* Navbar */
.navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00f4a7 ;
}

/* Hero */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=400');
  background-size: cover;
  background-position: center;
}

header h1, p .lead{
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: #86fff5 ;
  
}

  
 header .container  .btn {
  background-color: #377e43;
  border: none;
  font-weight: 300;
  border-radius: 12px;
}
header .container  .btn:hover {
  background-color: #0b8dff;
}
#rdv button {
  background-color: #377e43;
  border: none;
  font-weight: 300;
  border-radius: 12px;
}
#rdv button:hover {
    background-color: #0b8dff;
  }
 .text-center .btn{
    background-color: #377e43;
  border: none;
  font-weight: 300;
  border-radius: 12px
 }
 .text-center .btn:hover{
    background-color: #0b8dff;
 }
   
/* Cards - Services */
.card {
  border: none;
  border-radius: 16px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card-title {
  font-weight: 600;
  color:#377e43 ;
}

/* Témoignages */
.bg-white {
  border-left: 5px solid #377e43;
}

/* Formulaire */
form label {
  font-weight: 500;
}

form textarea {
  resize: none;
}

form .btn {
  font-weight: 600;
  border-radius: 8px;
}

/* Footer */
footer {
  font-size:
